{% if is_granted('ROLE_USER') %}
    <a class="ui circular button" href="{{
        wishlist_provider.wishlists | length > 1
        ? path('sherlockode_account_wishlist_index')
        : path('sherlockode_frontend_wishlist_first')
    }}">
        <i class="star icon"></i>
        <span>{{ wishlist_provider.itemCount }}</span>
    </a>
{% endif %}
